<mat-toolbar>
    <span>BridgeMount</span>
    <span class="fillspace"></span>
    <button mat-button color="primary" routerLink="dashboard">Dashboard</button>
    <button mat-button color="primary" routerLink="console">Console</button>

    <button mat-button color="primary" *ngIf="!isLoggedIn" routerLink="auth">Sign in</button>
    
    <button mat-button color="primary" *ngIf="isLoggedIn" (click)="logout()">Sign out</button>
    
    <!-- <a routerLink="dashboard">Dashboard</a>

    <a routerLink="console">Console</a>

    <a routerLink="auth">Sign In</a> -->

</mat-toolbar>