<!-- <p>message-detail works!</p> -->


<h2 mat-dialog-title>Message Details</h2> 



<mat-dialog-content class="mat-typography">
    <!-- <pre> -->
        <!-- {{data | json}} -->
        <!-- {{preference | json}} -->
        <!-- </pre> -->

        <!-- {{data.message.id}} -->
        <!-- <div *ngFor="let message of data.message"> -->
            <!-- {{message}} -->
        <!-- </div> -->

        <div *ngFor="let property of preferenceArray" style="padding-bottom: 20px">
            <b>{{property.toUpperCase().replace('_', ' ')}} </b> <br> {{data.message[property]}}
        </div>
</mat-dialog-content>



<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>