<!-- <p>message-detail works!</p> -->


<div mat-dialog-title>
    Message Details
    <button mat-icon-button style="float: right;" (click)="changePreference()"> 
        <mat-icon>settings</mat-icon>
    </button>
</div> 

<div *ngIf="isLoading"> Loading....</div>

<mat-dialog-content class="mat-typography">
        <div *ngFor="let property of preferenceArray" style="padding-bottom: 20px">
            <b>{{property.toUpperCase().replace('_', ' ')}} </b> <br> {{data.message[property]}}
        </div>
</mat-dialog-content>



<mat-dialog-actions align="end">
    <!-- <button mat-button mat-dialog-close>Cancel</button> -->
    <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>