<!-- <pre>
    {{ domainDetails | json}}
</pre> -->
<mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>
<mat-progress-bar mode="determinate" value="100" *ngIf="!isLoading"></mat-progress-bar>
<!-- Loading... -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <!-- <h3>Customer Details: </h3> -->
            <mat-list role="list">
                <div mat-subheader>Customer Details</div>
                <mat-list-item role="listitem"> 
                     Customer Company: {{domainDetails?.name}}
                </mat-list-item>
                <mat-list-item role="listitem">
                     Active: {{domainDetails?.active}} 
                </mat-list-item>
                <mat-list-item role="listitem">
                     Created On: {{domainDetails?.sys_created_on | date: 'medium'}} 
                </mat-list-item>
              </mat-list>
              

        </div>
        <div class="col-md-6">

             <mat-list role="list">
                <div mat-subheader>API Details</div>

                <mat-list-item role="listitem">             
                    Api-key: {{domainDetails?.api_key}}
                </mat-list-item>
              </mat-list>
              
        </div>
    </div>
</div>