<div class="container">
    <div class="row">
        <br><br>
        <div class="col-md-12">
            <button mat-icon-button (click)="openPreferenceModal()">
                <mat-icon>
                    settings
                </mat-icon>
            </button>

            <button mat-icon-button (click)="ngOnInit()">
                <mat-icon>
                    refresh
                </mat-icon>
            </button>
            <span *ngIf="isLoading">Loading...</span>
            <button style="float: right; cursor: pointer;" mat-icon-button [matMenuTriggerFor]="menu"
                aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Show up to</button>
                <div>
                    <button mat-menu-item (click)=chooseWindow(10) style="line-height: 20px; height: 30px;">10
                        items</button>
                    <button mat-menu-item (click)=chooseWindow(50) style="line-height: 20px; height: 30px;">50
                        items</button>
                    <button mat-menu-item (click)=chooseWindow(100) style="line-height: 20px; height: 30px;">100
                        items</button>
                </div>
            </mat-menu>
        </div>
        <br><br>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <button mat-icon-button class="checkbox" class="d-inline">
                                    <input type="checkbox" id="mastercheck" class="check" (click)="selectAll(tableData)" >
                                </button>
                                Actions
                            </th>

                            <th *ngFor="let column of labelColumns">{{column}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let message of tableData" class="table-row">
                            <td>
                                <button mat-icon-button class="checkbox" class="d-inline">
                                    <input type="checkbox" class="check" id={{message.id}} value={{message.id}} (click)="deletion(message.id)" >
                                </button>
                                <button mat-icon-button class="d-inline" *ngIf="message.important" (click)="markImportant()">
                                    <mat-icon style="color: gold">
                                        label_important
                                    </mat-icon>
                                </button>
                                <button mat-icon-button class="d-inline" *ngIf="!message.important" (click)="markImportant()">
                                    <mat-icon style="color: #272727;">
                                        label_important
                                    </mat-icon>
                                </button>
                                <!-- <button mat-icon-button class="d-inline" (click)="delete()">
                                    <mat-icon>
                                        delete
                                    </mat-icon>
                                </button> -->
                                
                            </td>

                            <td (click)="openForm()" class="table-row-open" *ngFor="let column of displayedColumns">
                                <span [ngStyle]="!message.read?{'font-weight': 'bold'} : {'font-weight': '100'}">{{message[column]}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>