<mat-progress-bar mode="query" *ngIf="isLoading"></mat-progress-bar>
<!-- <mat-progress-bar mode="query" ></mat-progress-bar> -->
<mat-progress-bar mode="determinate" *ngIf="!isLoading" value="100"></mat-progress-bar>

<div class="container-fluid">
    <div class="row">
        <br><br>
        <div class="col-md-12">
            <button mat-icon-button matTooltip="User Preferences" (click)="openPreferenceModal()">
                <mat-icon>
                    settings
                </mat-icon>
            </button>

            <button mat-icon-button matTooltip="Reload" matTooltipPosition="above" (click)="ngOnInit()">
                <mat-icon>
                    refresh
                </mat-icon>
            </button>
            <!-- {{deleteArray}} -->
            <!-- well -->
            <button mat-icon-button matTooltip="Delete {{deleteArray.length}} message(s)" matTooltipPosition="above"
                matTooltipClass="tooltip-red" [disabled]="deleteArray.length == 0" (click)="deleteSelected()">
                <mat-icon>
                    delete
                </mat-icon>
            </button>
            <button style="cursor: pointer;" mat-button [matMenuTriggerFor]="typemenu">
                <span style="padding: auto; font-weight: bolder;"> {{messageType | uppercase}} MESSAGES </span>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>

            <mat-menu #typemenu="matMenu" xPosition="before">
                <button mat-menu-item><b>Show messages:</b> </button>
                <button mat-menu-item (click)="changeMessageType('all')" matTooltip="Show all messages"
                    matTooltipPosition="right"
                    [ngStyle]="messageType == 'all'?{'font-weight': 'bold'} : {'font-weight': '100'}"
                    style="line-height: 20px; height: 30px;">All</button>
                <button mat-menu-item (click)="changeMessageType('important')" matTooltip="Show important messages"
                    matTooltipPosition="right"
                    [ngStyle]="messageType == 'important'?{'font-weight': 'bold'} : {'font-weight': '100'}"
                    style="line-height: 20px; height: 30px;">Important</button>
                <button mat-menu-item (click)="changeMessageType('starred')" matTooltip="Show starred messages"
                    matTooltipPosition="right"
                    [ngStyle]="messageType == 'starred'?{'font-weight': 'bold'} : {'font-weight': '100'}"
                    style="line-height: 20px; height: 30px;">Starred</button>
                <button mat-menu-item (click)="changeMessageType('read')" matTooltip="Show read messages"
                    matTooltipPosition="right"
                    [ngStyle]="messageType == 'read'?{'font-weight': 'bold'} : {'font-weight': '100'}"
                    style="line-height: 20px; height: 30px;">Read</button>
                <button mat-menu-item (click)="changeMessageType('unread')" matTooltip="Show unread messages"
                    matTooltipPosition="right"
                    [ngStyle]="messageType == 'unread'?{'font-weight': 'bold'} : {'font-weight': '100'}"
                    style="line-height: 20px; height: 30px;">Unread</button>
            </mat-menu>

            <button style="cursor: pointer;" mat-button [matMenuTriggerFor]="menu">
                {{windowDefault}} items per page
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>

            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item> <b>Show up to: </b></button>
                <div>
                    <button mat-menu-item (click)=chooseWindow(10)
                        [ngStyle]="windowDefault == 10?{'font-weight': 'bold'} : {'font-weight': '100'}"
                        style="line-height: 20px; height: 30px;">10
                        items</button>
                    <button *ngIf="rowCount>10" mat-menu-item (click)=chooseWindow(25)
                        [ngStyle]="windowDefault == 25?{'font-weight': 'bold'} : {'font-weight': '100'}"
                        style="line-height: 20px; height: 30px;">25
                        items</button>
                    <button *ngIf="rowCount>25" mat-menu-item (click)=chooseWindow(50)
                        [ngStyle]="windowDefault == 50?{'font-weight': 'bold'} : {'font-weight': '100'}"
                        style="line-height: 20px; height: 30px;">50
                        items</button>
                    <button *ngIf="rowCount>50" mat-menu-item (click)=chooseWindow(75)
                        [ngStyle]="windowDefault == 75?{'font-weight': 'bold'} : {'font-weight': '100'}"
                        style="line-height: 20px; height: 30px;">75
                        items</button>
                    <button *ngIf="rowCount>75" mat-menu-item (click)=chooseWindow(100)
                        [ngStyle]="windowDefault == 100?{'font-weight': 'bold'} : {'font-weight': '100'}"
                        style="line-height: 20px; height: 30px;">100
                        items</button>
                </div>
            </mat-menu>
            <span *ngIf="isLoading" style="padding-left: 30px;">...</span>
            <button [disabled]='start+windowDefault >= rowCount' style="float: right;" mat-icon-button
                (click)="nextPage()">
                <mat-icon>
                    navigate_next
                </mat-icon>
            </button>
            <button [disabled]='start==0' style="float: right;" mat-icon-button (click)="previousPage()">
                <mat-icon>
                    navigate_before
                </mat-icon>
            </button>
            <span style="float: right; padding-top: 10px;">
                Showing {{start}} - {{start+windowDefault}} of <b> {{rowCount}} </b>
            </span>
        </div>
        <br><br>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <button mat-icon-button class="checkbox" class="d-inline">
                                    <input type="checkbox" id="mastercheck" class="check"
                                        (click)="selectAll(tableData)">
                                </button>
                                Actions
                            </th>

                            <th *ngFor="let column of labelColumns">{{column}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let message of tableData" class="table-row">
                            <td style="padding: 0px; line-height: 1; vertical-align: auto;">
                                <button mat-icon-button class="checkbox" class="d-inline">
                                    <input type="checkbox" class="check" id={{message.id}} value={{message.id}}
                                        (click)="deletion(message.id)">
                                </button>
                                <button mat-icon-button class="d-inline" *ngIf="message.important"
                                    (click)="mark('important', false, message.id)">
                                    <mat-icon style="color: gold">
                                        label_important
                                    </mat-icon>
                                </button>
                                <button mat-icon-button class="d-inline" *ngIf="!message.important"
                                    (click)="mark('important',true, message.id)">
                                    <mat-icon style="color: #272727;">
                                        label_important
                                    </mat-icon>
                                </button>
                                <button mat-icon-button class="d-inline" *ngIf="message.starred"
                                    (click)="mark('starred', false, message.id)">
                                    <mat-icon style="color: gold">
                                        star
                                    </mat-icon>
                                </button>
                                <button mat-icon-button class="d-inline" *ngIf="!message.starred"
                                    (click)="mark('starred', true, message.id)">
                                    <mat-icon style="color: #272727;">
                                        star_border
                                    </mat-icon>
                                </button>
                            </td>
                            <td (click)="mark('read', true, message.id)" class="table-row-open"
                                *ngFor="let column of displayedColumns">
                                <!-- {{)}} <br>   -->
                                <span
                                    [ngStyle]="!message.read?{'font-weight': 'bold', 'color': 'green'} : {'font-weight': '100'}"
                                    *ngIf="dataType(message[column])=='date'">{{message[column] | date:'short'}}</span>
                                <span [ngStyle]="!message.read?{'font-weight': 'bold'} : {'font-weight': '100'}"
                                    *ngIf="dataType(message[column])!='date'">{{message[column]}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>